body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    background-color: #eff2f5;
}

.wrap-box{
  display: flex;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #FFFFFF;
  height: 80px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.nav-icon {
  margin-left: 60px;
  width:96px;
  height:24px;
}

.icon-container {
  display: flex;
  align-items: center; 
}


.nav-links {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 40px;
  margin-right: 60px;
}

.nav-link {
  margin: 0 10px;
  background: none;
  border: none;
  padding: 0;
  font-family: inherit;
  font-size: 20px;
  font-weight: 600;
  color: #333333;
  cursor: pointer;
}

.primary-btn{
  background: linear-gradient(81.62deg, #2870EA 8.72%, #1B4AEF 85.01%);
  color: #FFFFFF;
  padding: 8px 16px;
  border-radius: 12px;

}



/* Hamburger Menu */
.hamburger-menu {
  display: none; /* Initially hide on larger screens */
  cursor: pointer;
  margin-right: 10px;
}

.bar {
  width: 25px;
  height: 3px;
  background-color: #333;
  margin: 6px 0;
  transition: 0.4s;
}

.breadcrumb{
  margin-top: 15px;
  margin-left: 60px;
  font-size: 14px;
  color: #3E5765;
  font-weight: 400;
}


.last-breadcrumb {
  font-weight: bold;
}

.container{
  margin-top: 15px;
  margin-left: 60px;
  background-color: #FFFFFF;
  padding:20px 25px;
  border-radius: 8px;
  display: block;
  box-sizing: border-box;
  width: 880px;
}



.crypto-header{
  display: flex;
  align-items: center;
  gap:10px;
}

.coin-rank{
  background-color: #768396;
  border-radius: 14px;
  padding: 10px;
  margin-left: 10px;
  font-size: 16px;
  font-weight: 500;
  color: #FFFFFF;
}

.coin-symbol{
  color: #3E5765;
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
}

.coin-price{
  margin-top: 30px;
}

.coin-price-usd{
  font-size: 28px;
  font-weight: 600;
  letter-spacing: 1px;
  line-height: 38.4px;
}

.coin-price-inr{
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 1px;
  line-height: 27px;
}

.trend-arrow{
  display: inline;
  padding: 2px 7px;
  border-radius: 7px;
  font-weight: 500;
  font-size: 16px;
}

.positive-change{
  color:#14B079;
  background-color: #ebf9f4
;
}

.negative-change{
  color:#E96975;
  background-color: #EE68551A;
}

.twentyfour{
 color: #768396; 
}

.coin-data-wrap{
  display: flex;
  gap: 20px;
  align-items: center;
}

hr{
  border: 1px solid #b3b9c4;
  margin:  20px 4px;
}

.scroll-spy ul {
    list-style: none outside none;
    display: flex;
    white-space: nowrap;
    overflow-x: auto;
}

.scroll-spy ul::-webkit-scrollbar {
  display: none;
}

.scroll-spy ul {
  -ms-overflow-style: none;
  scrollbar-width: none; 
}
.scroll-spy ul li {
    border-bottom: 2px solid #DDDDDD;
    cursor: pointer;
    float: left;
    margin: 0;
    padding: 0 15px;
    width:100px;
    height:50px;
    line-height:50px;
    position: relative;
    text-align:center;
    font-weight: 500;
    color: #3E424A;
  
}

.clearfix {
    clear: both;
}
.scroll-spy ul li:hover:after,
.scroll-spy ul li.active:after{
    border: 1px solid #1B4AEF;
    color: #1B4AEF;
    bottom: 0;
    content: "";
    left: 0;
    position: absolute;
    width: 100px;
}

.scroll-spy ul li.active {
  color: #1B4AEF;
  font-weight: 600;
}

.heading{
  font-size: 24px;
  font-weight: 600;
  letter-spacing: 1px;
}

.light-heading{
  font-weight: 600;
  font-size: 18.91px;
  color: #44475B;
}

.info-table {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 20px;
  column-gap: 100px;

  @media (max-width: 920px) {
    grid-template-columns: 1fr;
  }

}

.info-row {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #ddd;
  padding: 20px 0;
  
}

.info-key {
  flex: 1;
  text-align: left;
  color: #768396 ;
  font-weight: 500;
  size: 14px;
}

.info-value {
  flex: 1;
  text-align: right;
  font-weight: 600;

}

.additional-info {
  font-size: 14px;
  color: #777;
  margin-left: 10px;
}

.todays-perfomance{
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

.todays-perfomance p{
  color: #777;
}

.todays-perfomance .price{
 font-weight: 600;
}

.indicator {
  background: linear-gradient(90deg, #FF4949 0%, #FF4E11 15.34%, #FC870A 30.45%, #FFAF11 48.68%, #C2CB21 62.75%, #11EB68 100.03%);
  width: 100%;
  height: 6px;
  border-radius: 3px;
}

.card-section {
  display: grid;
  grid-template-columns: var(--page-margin) [center-start] 1fr [center-end] var(--page-margin);
  
  & > * {
    grid-column: center;
  }
}

.cards-wrapper {
  grid-column: center-start / -1;
  display: grid;
  grid-auto-flow: column;
  gap: 1rem;
  overflow: auto;
  padding-bottom: 1rem;
  padding-right: var(--page-margin);
  
  .card {
    display: grid;
    place-content: center;
    width: 456px;
    min-height: 204px;
 
    padding: 0 18px;
    color:#3E5765;
    border-radius: 15px;
  }

  .card-content h3{
    font-weight: 500px;
    font-size: 14px;
  }

  .card-content p{
    font-size: 14px;
    font-weight: 400;
  }

  .blue-card{
    background-color:#E8F4FD;
  }

  .green-card{
    background-color: #79d8b7;
  }


}

.cards-wrapper::-webkit-scrollbar {
  display: none;
}

.cards-wrapper ul {
  -ms-overflow-style: none;
  scrollbar-width: none; 
}

.analyst{
  display: flex;
  align-items: center;

}

.analyst-percent{
  background-color: #6ee7bd;
  padding: 65px;
  border-radius: 50%;
  font-size: 27px;
  font-weight: 600;
  color: #2f804f;
  margin-right: 20px;
}

.analyst-list {
  list-style: none;
  padding: 0;
}

.analyst-list li {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.progress-bar {
  height: 8px;
  width: 70px;
  margin-left: 10px;
  background-color: #3498db; 
  border-radius: 5px;
}


.analyst-list li:nth-child(2) .progress-bar {
  background-color: #2ecc71; 
  width:8%;
}

.analyst-list li:nth-child(3) .progress-bar {
  background-color: #e74c3c; 
  width: 16%;
}

.team-card{
  background-color: #E8F4FD;
  display: flex;
  padding: 10px;
  gap: 10px;
  border-radius: 10px;
  font-size: 14px;
  font-weight: 400;
  margin-top: 15px;
}

.member-img{
  border-radius: 10px;
}

.member-detail{
  text-align: center;
}

.member-detail .name{
  font-weight: 600;
  font-size: 16px;
  padding: 10px;
}


.container-xl{
  margin-top: 15px;
  margin-left: 60px;
  background-color: #FFFFFF;
  padding:20px 25px;
  border-radius: 8px;
  display: block;
  box-sizing: border-box;
  width: 93%;
}

.coin .scroll-card{
  border:  2px solid #cecdcd;
  border-radius: 16px;
  padding: 20px 10px;
  width: 282px;
}

.coin .coin-detail-wrap{
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.coin .coin-detail-wrap .icon-name{
  display: flex;
  align-items: center;
  gap: 5px;
}




.container-sm{
  width: 427px;
  margin-top: 50px;
  margin-left: 20px;
  background-color: #FFFFFF;
  padding:20px 25px;
  border-radius: 8px;
  display: block;
  box-sizing: border-box;
}

.trending-coins .coin{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;

  
}

.trending-coins .coin .coin-detail img{
  border-radius: 50%;
}



.coin .coin-detail{
  display: flex;
  align-items: center;
  gap: 10px;


}

.coin .icon{
  height: 38px;
  width: 38px;
  border-radius: 50%;
}

.coin p{
  font-weight: 600;
}

.sparkline{
  width: 200px;
  height: 60px;
  margin-top: 5px;
  margin-left: 20px;
}

.tradingview-widget-container {
  max-width: 100%;
  overflow: hidden;
}

.tradingview-widget-container iframe {
  width: 100%;
  height: 100%;
}




@media (max-width: 920px) {
  .wrap-box{
    display: flex;
    flex-direction: column;
  }

  .icon-container {
    margin-right: 0;
  }

  .nav-links {
    flex-direction: column;
    position: absolute;
    top: 80px;
    left: 0;
    width: 100%;
    height: 260px;
    background-color: #FFFFFF;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    display: none; 
  }

  .tradingview-widget-container {
    max-width: 837px;
    height: 267px !important;
  } 

  .nav-links.mobile-menu-open {
    display: flex;
  }

  .nav-link {
    margin-left: 50px;

  }

  .hamburger-menu {
    display: block;
  }

  .container {
    margin: 15px 20px;
    width: 90%;
  }

  .container-xl{
    margin: 15px 20px;
    width: 90%;
  }

  .container-sm{
    margin: 15px 20px;
    width: 90%;
  }

  .scroll-spy ul {
    overflow-x: auto;
    white-space: nowrap; 
}
  .team-card{
    display: flex;
    flex-direction: column;

  }
  
}